{% extends 'base.html' %}

{% block title %} 
	Administrar
{% endblock %}

{% block content %}
	<h2>Sistema de horarios CTPI</h2>
	<a class="btn btn-primary" href="{% url 'vista_agregar_instructor' %}">registrar instructor</a>
	<br>
	<a class="btn btn-primary" href="{% url 'vista_agregar_aprendiz' %}">registrar aprendiz</a>
	<br>
	<a class="btn btn-primary" href="{% url 'vista_agregar_ficha' %}">registrar ficha</a>
	<br>
	<a class="btn btn-primary" href="{% url 'vista_agregar_tipo_programa' %}">registrar tipo de porgrama</a>
	<br>
	<a class="btn btn-primary" href="{% url 'vista_agregar_programa' %}">registrar programa</a>
	<br>

	<a class="btn btn-primary" href="{% url 'vista_franjas' %}">Franjas</a>







{% endblock %}