{% extends 'base.html' %}

{% block title %}
	Horario Ficha 
{% endblock %}

{% block content %}
	<div  class="well well-small alert-info">
		<dl class="dl-horizontal">
			<dt> Ficha : </dt>
			<dd>{{ horario.ficha }} </dd>
			<dt> Horario : </dt>
			<dd> {{ horario.fecha }}</dd>
		</dl>
	</div>



	<br>



	<a class ="btn btn-primary"href="/add/evento/{{horario.id}}/">Nuevo Evento</a>
	<br>
	<h4> Lista de Franjas y Eventos </h4>

	<div class="well well-small">
	<div class="bs-docs-example" >
            <ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#lunes" data-toggle="tab">Lunes</a></li>
				<li class=""><a href="#martes" data-toggle="tab">Martes</a></li>
				<li class=""><a href="#miercoles" data-toggle="tab">Miercoles</a></li>
				<li class=""><a href="#jueves" data-toggle="tab">Jueves</a></li>
				<li class=""><a href="#viernes" data-toggle="tab">Viernes</a></li>
				<li class=""><a href="#sabado" data-toggle="tab">Sabado</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="lunes">
                	{% for e in eventos %}
						{% if e.dias == "lunes" %}
							<p>	<b>Dia: </b>{{ e.dias }} - <b>Instructor :</b> {{ e.instructor }} </p>
							<p>
								<b>franja : </b> {{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>

							<p>	<b>Competencia: </b> {{e.competencia}} </p>
							<p>	<b>Fase: </b> {{e.competencia.fase}} </p>
							
						{% endif %}
					{% endfor %} 
              </div>

              <div class="tab-pane fade" id="martes">
                 	{% for e in eventos %}
						{% if e.dias == "martes" %}
							<p> <b>Dia: </b>{{ e.dias }} - <b>Instructor :</b> {{ e.instructor }} </p>
							<p> 
								<b>franja : </b> {{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>						
							<p> <b>Competencia: </b> {{e.competencia}} </p>
							<p>	<b>Fase: </b> {{e.competencia.fase}} </p>
							
						{% endif %}
					{% endfor %} 
              </div>

              <div class="tab-pane fade" id="miercoles">
                	{% for e in eventos %}
						{% if e.dias == "miercoles" %}
							<p> <b>Dia: </b>{{ e.dias }} - <b>Instructor :</b> {{ e.instructor }} </p>
							<p> 
								<b>franja : </b> {{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>						
							<p> <b>Competencia: </b> {{e.competencia}} </p>
							<p>	<b>Fase: </b> {{e.competencia.fase}} </p>
							
						{% endif %}
					{% endfor %} 
              </div>

              <div class="tab-pane fade" id="jueves">
                	{% for e in eventos %}
						{% if e.dias == "jueves" %}
							<p> <b>Dia: </b>{{ e.dias }} - <b>Instructor :</b> {{ e.instructor }} </p>
							<p> 
								<b>franja : </b> {{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>						
							<p> <b>Competencia: </b> {{e.competencia}} </p>
							<p>	<b>Fase: </b> {{e.competencia.fase}} </p>
							
						{% endif %}
					{% endfor %} 
              </div>

              <div class="tab-pane fade" id="viernes">
                	{% for e in eventos %}
						{% if e.dias == "viernes" %}
							<p> <b>Dia: </b>{{ e.dias }} - <b>Instructor :</b> {{ e.instructor }} </p>
							<p> 
								<b>franja : </b> {{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>						
							<p> <b>Competencia: </b> {{e.competencia}} </p>
							<p>	<b>Fase: </b> {{e.competencia.fase}} </p>
						{% endif %}
					{% endfor %} 
              </div>

              <div class="tab-pane fade" id="sabado">
                	{% for e in eventos %}
						{% if e.dias == "sabado" %}
							<p> <b>Dia: </b>{{ e.dias }} - <b>Instructor :</b> {{ e.instructor }} </p>
							<p> 
								<b>franja : </b> {{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>						
							<p> <b>Competencia: </b> {{e.competencia}} </p>
							<p>	<b>Fase: </b> {{e.competencia.fase}} </p>
						{% endif %}
					{% endfor %} 
              </div>              

            </div>
	</div>

	</div>

-----------------------------------------------------------

	

<div class="span9">
	<div id="calendar" class="cal-context" style="width: 100%;">
		<div class="cal-week-box">
			<div class="cal-offset1 cal-column"></div>
			<div class="cal-offset2 cal-column"></div>
			<div class="cal-offset3 cal-column"></div>
			<div class="cal-offset4 cal-column"></div>
			<div class="cal-offset5 cal-column"></div>
			<div class="cal-offset6 cal-column"></div>
			<div class="cal-row-fluid cal-row-head">
				
				<div class="cal-cell1 cal-day-weekend" data-toggle="tooltip" title="" data-original-title="">Lunes<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">Martes<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">Miercoles<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">Jueves<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">Viernes<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">Sabado<br>
				</div>	
			</div>

			<div class="cal-row-fluid cal-row-head">
				<div class="cal-cell1 cal-day-weekend" data-toggle="tooltip" title="" data-original-title="">
					{% for e in eventos %}
						{% if e.dias == "lunes" %}
							{{ e.instructor }} 
							<p>
								{{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>
							<a href="#myModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal" id="{{e.id}}" data-name="{{e.horario}}"><i class="icon-search icon-white"></i> Ver Más</a>

						{% endif %}
					{% endfor %} 
					<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">					
					{% for e in eventos %}
						{% if e.dias == "martes" %}
							{{ e.instructor }} 
							<p>
								{{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>
							<a href="#myModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal" id="{{e.id}}" data-name="{{e.horario}}"><i class="icon-search icon-white"></i> Ver Más</a>
						{% endif %}
					{% endfor %} 
					<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">					
					{% for e in eventos %}
						{% if e.dias == "miercoles" %}
							{{ e.instructor }} 
							<p>
								{{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>
							<a href="#myModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal" id="{{e.id}}" data-name="{{e.horario}}"><i class="icon-search icon-white"></i> Ver Más</a>
						{% endif %}
					{% endfor %} 
					<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">
					{% for e in eventos %}
						{% if e.dias == "jueves" %}
							{{ e.instructor }} 
							<p>
								{{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>
							<a href="#myModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal" id="{{e.id}}" data-name="{{e.horario}}"><i class="icon-search icon-white"></i> Ver Más</a>
						{% endif %}
					{% endfor %} 
					<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">
					{% for e in eventos %}
						{% if e.dias == "viernes" %}
							{{ e.instructor }} 
							<p>
								{{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>
						
							<a href="#myModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal" id="{{e.id}}" data-name="{{e.horario}}"><i class="icon-search icon-white"></i> Ver Más</a>
						
							<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="True">
								<div class="modal-dialog" role ="document">
									<div class ="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
											<h3 id="myModalLabel"> Ficha {{ e.horario }} dia {{ e.dias }}</h3>
										</div>

										<div class="modal-body" align="justify">
											<p> <b>Instructor : </b> {{ e.instructor }}</p>
											<p> 
												<b>Franja : </b> {{e.franja.all|first}} - 
												{% for f in e.franja.all %}
													{% if forloop.last %}  
														{{ f }}
													{% endif %}
												{% endfor %}
											</p>						
											<p> <b>Competencia: </b> {{e.competencia}} </p>
											
											<p>	<b>Fase: </b> {{e.competencia.fase}} </p>
										</div>
										<div class="modal-footer">
											<button class="btn" data-dismiss="modal" aria-hidden="True">Cerrar</button>
										</div>
									</div>
								</div>
							</div>	

						{% endif %}
					{% endfor %} 

					<br>
				</div>
			
				<div class="cal-cell1 " data-toggle="tooltip" title="" data-original-title="">
					{% for e in eventos %}
						{% if e.dias == "sabado" %}
							{{ e.instructor }} 
							<p>
								{{e.franja.all|first}} - 
								{% for f in e.franja.all %}
									{% if forloop.last %}  
										{{ f }}
									{% endif %}
								{% endfor %}
							</p>
							<a class ="btn btn-mini btn-info"href="/add/evento/{{horario.id}}/">Ver Más</a>

						{% endif %}
					{% endfor %} 
					<br>
					
				</div>	
			</div>

		</div>
	</div>
</div>

		<hr>






<br><br>
<hr>
	<a href="/fichas/">regresar a la lista de fichas</a>




{% endblock %}

