{% extends 'base.html' %}

{% block title %} 
	Agregar Persona
{% endblock %}

{% block content %}
{% load humanize %}
<form action"." method="POST" >
	{% csrf_token %}
	{{ form.as_p }}
	<input class="btn btn-success" type="submit" value="Guardar">
	<input class="btn btn-inverse" type="reset" value="Limpiar">
</form>
   	<a class="btn " href="/expocauca/"> Cancelar </a>
<br><br><br>

{% if personas %}
<small>
	<table class = "table table-hover table-bordered">
		<theader>
			<tr>
				<th>Nombres y Apellidos</th>
				<th>Telefono</th>
				<th>Email</th>
				<th>Programa</th>
				<th>Jornada</th>
				<th>Editar</th>
			</tr>
		</theader>			
		{% for p in personas %}
			
			<tbody>
				<tr class="success">
					<td>{{ p.nombres_y_apellidos|title }}</td>
					<td>{{ p.telefono }}</td>
					<td>{{ p.email }}</td>
					<td>
					{% for prog in p.programa.all %}
						<li class = "icon icon-ok">
						</li>
							{{ prog|truncatechars:40 }}
						<br>
					{% endfor %}
					</td>
					<td>{{ p.jornada }}</td>
					<td><a class = "btn btn-warning" href="/editar/persona/{{ p.id }}"> <b> Editar </b> </a></td>
				</tr>
			</tbody>
		{% endfor %}
	</table>
</small>


{% else %}
	<h2>no hay  personas interesadas</h2>

{% endif %}

{% endblock %}