{% extends 'base.html' %}

{% block title %} 
	Agregar Horario
{% endblock %}

{% block content %}

<style>
.ui-datepicker-calendar {
    display: none;
    }
</style>
<script>
  $(function() {
    $( "#datepicker1 , #datepicker").datepicker({
      changeMonth: true,
      changeYear: false,
      showButtonPanel: true,
      dateFormat: 'dd/mm/yy',
      gotoCurrent: true,
      onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            $(this).datepicker('setDate', new Date(2015, month, 1));
        }
      // You can put more options here.

    });
  });
  </script>


<h3>Desea crear el horario ?</h3>
<form action"." method="POST">
	{% csrf_token %}
	{{ form_horario.as_p }}
	<input class="btn btn-success" type="submit" value="Crear Horario">
	<a class="btn btn-inverse" href="/ficha/{{fic.id}}"> Cancelar </a>

</form>
{% endblock %}
